header {
  color: var(--Very-dark-cyan);
  letter-spacing: 0.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}